  <div class="container border-top">
    <footer class="py-5">
      <div class="row">
        <div class="col-2">
          <h5>セクション</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">ホーム</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">特徴</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">価格設定</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQ</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">概要</a></li>
          </ul>
        </div>
  
        <div class="col-2">
          <h5>セクション</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">ホーム</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">特徴</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">価格設定</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQ</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">概要</a></li>
          </ul>
        </div>
  
        <div class="col-2">
          <h5>セクション</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">ホーム</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">特徴</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">価格設定</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQ</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">概要</a></li>
          </ul>
        </div>
  
        <div class="col-4 offset-1">
          <form>
            <h5>ニュースレターを購読</h5>
            <p>新しくエキサイティングなダイジェストを毎月お届け</p>
            <div class="d-flex w-100 gap-2">
              <label for="newsletter1" class="visually-hidden">Eメールアドレス</label>
              <input id="newsletter1" type="text" class="form-control" placeholder="Eメールアドレス">
              <button class="btn btn-primary flex-shrink-0" type="button">申込</button>
            </div>
          </form>
        </div>
      </div>
  
      <div class="d-flex justify-content-between py-4 my-4 border-top">
        <p>&copy; 2022 会社名 All rights reserved.</p>
        <ul class="list-unstyled d-flex">
          <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"/></svg></a></li>
          <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"/></svg></a></li>
          <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"/></svg></a></li>
        </ul>
      </div>
    </footer>
  </div>
  