<div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-4 fw-bold">中央揃えのスクリーンショット</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Sass変数とmixin、レスポンシブグリッドシステム、豊富な構築済みコンポーネント、強力なJavaScriptプラグインを備えた、世界で最も人気のあるフロントエンドオープンソースツールキットであるBootstrapを使用して、レスポンシブなモバイルファーストのサイトをすばやく設計とカスタマイズします。</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
        <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3">主要ボタン</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">第2ボタン</button>
        </div>
    </div>
    <div class="overflow-hidden" style="max-height: 30vh;">
        <div class="container px-5">
            <img src="../images/bootstrap-docs.png" class="img-fluid border rounded-3 shadow-lg mb-4" alt="画像の例" width="700" height="500" loading="lazy">
        </div>
    </div>
</div>
<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="../images/bootstrap-logo.svg" alt="" width="72" height="57">
    <h1 class="display-5 fw-bold">中央揃えのヒーロー</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Sass変数とmixin、レスポンシブグリッドシステム、豊富な構築済みコンポーネント、強力なJavaScriptプラグインを備えた、世界で最も人気のあるフロントエンドオープンソースツールキットであるBootstrapを使用して、レスポンシブなモバイルファーストのサイトをすばやく設計とカスタマイズします。</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3">主要ボタン</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">第2ボタン</button>
      </div>
    </div>
</div>

<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
        <img src="../images/bootstrap-themes.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrapのテーマ" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">画像付きのレスポンシブな左揃えのヒーロー</h1>
        <p class="lead">Sass変数とmixin、レスポンシブグリッドシステム、豊富な構築済みコンポーネント、強力なJavaScriptプラグインを備えた、世界で最も人気のあるフロントエンドオープンソースツールキットであるBootstrapを使用して、レスポンシブなモバイルファーストのサイトをすばやく設計とカスタマイズします。</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">主要</button>
            <button type="button" class="btn btn-outline-secondary btn-lg px-4">標準</button>
        </div>
        </div>
    </div>
</div>
